// ******************************
// DEFINE COLORs
// ******************************
:root {
  // DEFINE COLOR VARIABLES
  --system-white: #F0F0F0;
  --system-black: #2A2A2A;
  --system-dark-blue: #1E2130;
  --system-pokeball-red: #FF0000;
  --system-greatball-blue: #0063C5;
  --system-masterball-purple: #7E308E;

  // Default Theme (Pokeball)
  --navbar-bg: var(--system-pokeball-red);
  --footer-bg: var(--system-white);
  --bg-primary: var(--system-black);
  --text-primary: var(--system-white);
}

// ******************************
// THEMES
// ******************************
[data-theme="greatball"] {
  --navbar-bg: var(--system-greatball-blue);
  --footer-bg: var(--system-white);
  --bg-primary: var(--system-dark-blue);
  --text-primary: var(--system-white);
}

[data-theme="masterball"] {
  --navbar-bg: var(--system-masterball-purple);
  --footer-bg: var(--system-white);
  --bg-primary: var(--system-dark-blue);
  --text-primary: var(--system-white);
}


// ******************************
// SCSS Variables
// ******************************
$BgPrimary: var(--bg-primary);
$NavbarBg: var(--navbar-bg);
$FooterBg: var(--footer-bg);
$TextPrimary: var(--text-primary);

$SystemWhite: var(--system-white);
$SystemBlack: var(--system-black);
$SystemDarkBlue: var(--system-dark-blue);
$SystemPokeballRed: var(--system-pokeball-red);
$SystemGreatballBlue: var(--system-greatball-blue);
$SystemMasterballPurple: var(--system-masterball-purple);

